<div class="container sidebar-bookcategories-container">
    <ul class="sidebar-categories-name">
        <li class="sb-category-item"><a href="#" data-category="all-categories" class="active">All categories</a></li>
        <li class="sb-category-item"><a href="#" data-category="category1">Combined Print and E-book Fiction</a></li>
        <li class="sb-category-item"><a href="#" data-category="category2">Combined Print & E-book Nonfiction</a></li>
        <li class="sb-category-item"><a href="#" data-category="category3">Hardcover fiction</a></li>
        <li class="sb-category-item"><a href="#" data-category="category4">Hardcover nonfiction</a></li>
        <li class="sb-category-item"><a href="#" data-category="category5">Paperback trade fiction</a></li>
        <li class="sb-category-item"><a href="#" data-category="category6">Paperback nonfiction</a></li>
        <li class="sb-category-item"><a href="#" data-category="category7">Advice, how-to & Miscellaneous</a></li>
        <li class="sb-category-item"><a href="#" data-category="category8">Children’s middle grade hardcover</a></li>
    </ul>

    <div class="scrolling-line"></div>
</div>