<div class="container sidebar-allcategories">
    <nav class="sidebar-nav-categories">
        <h2 class="sidebar-categories-title" id="sb-categories-title">ALL CATEGORIES</h2>
        <div class="scroll-categories-name-container" id="sb-categories-container" >
            <ul class="sidebar-categories-name">
                <li class="sb-category-item"><a href="url...">Combined Print and E-book Fiction</a></li>
                <li class="sb-category-item"><a href="url...">Combined Print & E-book Nonfiction</a></li>
                <li class="sb-category-item"><a href="url...">Hardcover fiction</a></li>
                <li class="sb-category-item"><a href="url...">Hardcover nonfiction</a></li>
                <li class="sb-category-item"><a href="url...">Paperback trade fiction</a></li>
                <li class="sb-category-item"><a href="url...">Paperback nonfiction</a></li>
                <li class="sb-category-item"><a href="url...">Advice, how-to & Miscellaneous</a></li>
                <li class="sb-category-item"><a href="url...">Children’s middle grade hardcover</a></li>
            </ul>
        </div>
    </nav>
    <div class="scrolling-line"></div>
</div>




