<header>
  <div class="header-container">
    <nav class="header-nav">
      <a class="header-logo-link" href="./index.html">
        <svg width="24" height="24">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
        <svg width="77" height="13" class="logo-text">
          <use href="/img/icons.svg#icon-logo-text"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-item">
          <a class="header-nav-link" href="./index.html">Home</a>
        </li>
        <li class="header-item">
          <a class="header-nav-link" href="./shop-list.html">
            Shopping list
            <svg width="20" height="20" class="shoping-nav-bag">
              <use href="/img/icons.svg#icon-bag"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <div class="header-buttons">
      <label class="switch">
        <input type="checkbox" id="toggleSwitch" />
        <span class="slider"></span>
      </label>
      <div class="auth-btns">
        <button type="button" data-up-btn>
          Sign up
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.33325 10H16.6666M16.6666 10L11.6666 5M16.6666 10L11.6666 15"
              stroke="#EAC645"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="user-btns">
          <button type="button" data-user-btn>
            <svg
              width="37"
              height="37"
              viewBox="0 0 37 37"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="18.5" cy="18.5" r="18.5" fill="#F6F6F6" />
              <path
                d="M12.1666 26.4166C12.1666 24.7369 12.8339 23.126 14.0216 21.9383C15.2093 20.7506 16.8203 20.0833 18.5 20.0833C20.1797 20.0833 21.7906 20.7506 22.9783 21.9383C24.166 23.126 24.8333 24.7369 24.8333 26.4166H12.1666ZM18.5 19.2916C15.8756 19.2916 13.75 17.166 13.75 14.5416C13.75 11.9173 15.8756 9.79163 18.5 9.79163C21.1243 9.79163 23.25 11.9173 23.25 14.5416C23.25 17.166 21.1243 19.2916 18.5 19.2916Z"
                fill="#4F2EE8"
              />
            </svg>
            <span class="username"></span>
            <svg
              width="23"
              height="26"
              viewBox="0 0 23 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.79199 9.75H18.2087L12.1779 16.5674C11.9982 16.7705 11.7544 16.8846 11.5003 16.8846C11.2462 16.8846 11.0025 16.7705 10.8228 16.5674L4.79199 9.75Z"
                fill="white"
              />
            </svg>
          </button>
          <button type="button" data-out-btn>
            Log out
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.33325 10H16.6666M16.6666 10L11.6666 5M16.6666 10L11.6666 15"
                stroke="#EAC645"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>

      <button class="header-burger-menu" type="button" id="burgerToggle">
        <svg width="28" height="28">
          <use href="/img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
  <load ="partials/modal-menu.html" />
</header>
