<div class="books-wrapper">
  <h1 class="main-title">Best Sellers <span>Books</span></h1>
  <div class="books-category">
    <h3 class="category-title">Combined Print and E-Book Fiction</h3>
    <ul class="books-list">
      <li class="book-item">
        <div class="book-cover">
          <img src="../img/book_cover.png" alt="book cover" />
          <div class="quick-view">Quick view</div>
        </div>
        <div class="book-info">
          <p class="book-title">I will find you</p>
          <p class="book-author">Harlan Coben</p>
        </div>
      </li>
      <li class="book-item">
        <div class="book-cover">
          <img src="../img/book_cover.png" alt="book cover" />
          <div class="quick-view">Quick view</div>
        </div>
        <div class="book-info">
          <p class="book-title">HELLO BEAUTIFUL</p>
          <p class="book-author">Ann Napolitano</p>
        </div>
      </li>
      <li class="book-item">
        <div class="book-cover">
          <img src="../img/book_cover.png" alt="book cover" />
          <div class="quick-view">Quick view</div>
        </div>
        <div class="book-info">
          <p class="book-title">IT STARTS WITH US</p>
          <p class="book-author">Colleen Hoover</p>
        </div>
      </li>
      <li class="book-item">
        <div class="book-cover">
          <img src="../img/book_cover.png" alt="book cover" />
          <div class="quick-view">Quick view</div>
        </div>
        <div class="book-info">
          <p class="book-title">IT ENDS WITH US</p>
          <p class="book-author">Colleen Hoover</p>
        </div>
      </li>
      <li class="book-item">
        <div class="book-cover">
          <img src="../img/book_cover.png" alt="book cover" />
          <div class="quick-view">Quick view</div>
        </div>
        <div class="book-info">
          <p class="book-title">DAISY JONES & THE SIX</p>
          <p class="book-author">Taylor Jenkins Reid</p>
        </div>
      </li>
    </ul>
    <button type="button" class="button">See more</button>
  </div>
</div>
