<div class="header-modal-menu hidden">
  <div class="background"></div>
  <nav class="header-modal-menu-navigation">
      <ul class="header-modal-menu-navigation-list">
          <li class="header-modal-menu-navigation-list-item mb16 header-current">
              <a href="./index.html" class="header-modal-menu-home-link">Home</a>
          </li>
          <li class="header-modal-menu-navigation-list-item">
              <a href="../shop-list.html" class="header-modal-menu-shopping-list-link">Shopping list</a>
              <svg class="header-modal-menu-icon" width="20" height="20">
                  <use href="../img/icons.svg#icon-bag"></use>
              </svg>
          </li>
      </ul>
  </nav>
</div>