<div class="support-ukraine">
  <div class="title-wrapper">
    <h2 class="support-ukraine-title">Support Ukraine</h2>
    <svg class="title-svg" width="20" height="32">
      <use href="/img/icons.svg#icon-ukraine"></use>
    </svg>
    <!-- <img src="/img/Vector.svg" alt="coat" class="title-svg" /> -->
  </div>
  <div class="slider-container">
    <ul class="support-ukraine-list inner-wrapper"></ul>
  </div>
  <button type="button" class="support-ukraine-btn">
    <img src="/img/btn-vector.svg" alt="arrow" class="svg-btn" />
  </button>
</div>
