.modal-is-open {
  overflow-y: hidden;
}

.modal {
  background-color: #fff;
  border: 2px solid #111;
  border-radius: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-btn {
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
  padding: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  transition: fill 250ms ease-in-out;
}

.modal-btn:hover {
  fill: #4f2ee8;
}

.modal-btn-icon:hover {
  stroke: #4f2ee8;
}

.modal-wrap {
  margin-bottom: 44px;
}

.modal-image {
  width: 192px;
  height: 281px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 0;
  border-radius: 8px;
  margin-right: 24px;
}

.modal-book-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  text-align: left;
  color: #111;
  margin-bottom: 8px;
}

.modal-book-author {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #b4afaf;
  margin-bottom: 20px;
}

.modal-book-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #111;
}

.modal-logos-wrap {
  display: flex;
  gap: 20px;
}

.modal-shop-list-amazon {
  width: 62px;
  height: 19px;
  margin-top: 6.5px;
  margin-bottom: 6.5px;
}

.modal-shop-list-apple {
  width: 33px;
  height: 32px;
}

.modal-shop-list-amazon,
.modal-shop-list-apple {
  filter: grayscale(100%);
  transition: filter 250ms ease-in-out;
}

.modal-shop-list-amazon:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.modal-shop-list-apple:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.modal-add-btn {
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  width: 499px;
  height: 64px;
  display: block;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111;
  background-color: transparent;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.modal-add-btn:hover {
  background-color: #4f2ee8;
  color: #fff;
}

.modal-btn-text {
  width: 324px;
  height: 28px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.04em;
  margin: 0 auto;
  text-align: center;
  color: rgba(17, 17, 17, 0.5);
  display: none;
}

.modal-add-btn.added + .modal-btn-text {
  display: block;
}

@media screen and (min-width: 320px) {
  .modal {
    max-width: 335px;
  }

  .modal-image {
    width: 192px;
    height: 281px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 0;
    margin: 0 auto 14px;
  }

  .modal-btn {
    right: 12px;
    top: 12px;
  }

  .modal-book-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;
    letter-spacing: -0.04em;
  }

  .modal-book-author {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
  }

  .modal-book-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    margin-bottom: 14px;
  }

  .modal-btn-add {
    max-width: 211px;
    margin: 0 auto;
    display: block;
  }

  .modal-add-btn {
    max-width: 211px;
    max-height: 46px;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
  }

  .modal-btn-text {
    width: 242px;
    height: 36px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.04em;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 579px;
  }

  .modal-wrap {
    display: flex;
  }

  .modal-btn {
    right: 24px;
    top: 24px;
  }

  .modal-image {
    width: 192px;
    height: 281px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 0;
    margin: 0 24px 0 0;
  }

  .modal-book-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    color: #111;
    margin-bottom: 8px;
  }

  .modal-book-author {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    color: #b4afaf;
  }

  .modal-book-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    color: #111;
    margin-bottom: 20px;
  }

  .modal-btn-add {
    max-width: 499px;
    margin: 0 auto;
    display: block;
  }

  .modal-add-btn {
    max-width: 499px;
    max-height: 64px;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
  }

  .modal-btn-text {
    width: 324px;
    height: 28px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.04em;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    max-width: 579px;
  }

  .modal-btn {
    right: 24px;
    top: 24px;
  }

  .modal-image {
    width: 192px;
    height: 281px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 0;
    margin-right: 24px;
  }

  .modal-book-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    color: #111;
    margin-bottom: 8px;
  }

  .modal-book-author {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    color: #b4afaf;
  }

  .modal-book-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    color: #111;
    margin-bottom: 20px;
  }

  .modal-btn-add {
    max-width: 499px;
    margin: 0 auto;
    display: block;
  }

  .modal-add-btn {
    max-width: 499px;
    max-height: 64px;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
  }

  .modal-btn-text {
    width: 324px;
    height: 28px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.04em;
    margin: 0 auto;
    text-align: center;
  }
}
