:root {
  --active_color: #4f2ee8;
  --light_theme_bg: #f6f6f6;
  --dark_theme_bg: #202024;
  --light_theme_txt: #111;
  --dark_theme_txt: #fff;
  --second_txt_color: #b4afaf;
  --yellow_color: #eac645;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 46px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  color: var(--light_theme_txt);
  letter-spacing: -0.01em;
  border: 2px solid var(--active_color);
  background-color: var(--light_theme_bg);
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button:hover {
  color: var(--dark_theme_txt);
  background-color: var(--active_color);
}

/* books-wrapper */
.books-wrapper h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  letter-spacing: -0.04em;
  margin: 0;
}

.books-wrapper h1 span {
  color: var(--active_color);
}

/* books-category */
.books-category {
  margin-top: 40px;
}

.books-category .category-title {
  font-weight: 400;
  font-size: 14px;
  color: var(--second_txt_color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.books-category .books-list {
  display: grid;
  grid-template-columns: 100%;
  align-items: start;
  grid-gap: 25px;
}

.books-category .book-item {
  cursor: pointer;
}

.books-category .book-cover {
  position: relative;
  padding-top: 145%;
  border-radius: 8px;
  overflow: hidden;
}

.books-category .book-cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.books-category .quick-view {
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.04em;
  background: var(--yellow_color);
  padding: 0 20px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.books-category .book-cover:hover .quick-view {
  bottom: 0;
}

.books-category .book-info {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 14px;
}

.books-category .book-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.books-category .book-author {
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  color: var(--second_txt_color);
  letter-spacing: -0.04em;
  text-transform: capitalize;
}

.books-category .button {
  margin: 8px 0 0 auto;
}

@media screen and (min-width: 768px) {
  .books-wrapper h1 {
    font-size: 48px;
    line-height: 1.08;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .books-category .books-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .books-list .book-item:nth-child(n + 4) {
    display: none;
  }
  .books-category .button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .books-category .books-list {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 24px;
  }
  .books-category .button {
    margin-top: 32px;
  }
}

@media screen and (max-width: 767px) {
  .books-list .book-item:nth-child(n + 2) {
    display: none;
  }
}
