body.dark {
  background-color: #202024;
  color: #fff;
}

.dark .header-container {
  border-color: #fff;
  background-color: #111;
}

.dark .header-nav-link {
  color: #fff;
}

.dark .header-burger-menu {
  fill: #fff;
}

.dark .logo-text {
  fill: #fff;
}

.dark .shop-list-icon {
  fill: #fff;
}

.dark.active {
  color: #eac645;
}

.dark.sidebar-categories-name {
  color: rgba(255, 255, 255, 0.6);
}

.dark.button {
  background-color: #111;
  color: #fff;
}

.dark.modal {
  background-color: #202024;
  border-color: #fff;
}

.dark.modal-btn-icon {
  fill: #fff;
}

.dark.modal-add-btn {
  color: #fff;
}
