.header-container {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  background-color: #fff;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-right: 76px;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-nav-list {
  display: none;
  align-items: center;
}
.logo-text {
  fill: #111;
}

.header-burger-menu {
  border: none;
  background: transparent;
  transition: fill 250ms ease-in-out;
}

.header-burger-menu:hover {
  fill: #4f2ee8;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 22px 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:not(:checked) + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

input:checked + .slider:before {
  transform: translateX(22px);
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 0 32px;
  }

  .header-nav {
    display: flex;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  .header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    fill: #111;
  }

  .nav-link-active {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    padding: 8px 16px;
    background-color: #eac645;
    fill: #111;
  }

  .shoping-nav-bag {
    fill: inherit;
  }

  .header-burger-menu {
    display: none;
  }

  .switch {
    margin: 26px 0;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    padding: 0 24px;
  }
}
