.main-page {
  padding-top: 110px;
}

.aside {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .aside {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .aside {
    gap: 86px;
  }

  .main-page {
    display: flex;
    gap: 40px;
  }
}
