.hidden {
  display: none;
  opacity: 0;
}
.header-modal-menu {
  font-family: 'DM Sans', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #4f2ee8;
  background-image: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.background {
  background-image: url('../img/header-bacground-menu.png');
  transform: rotateX('45deg');
  z-index: 2;
}
.header-modal-menu-navigation {
  display: flex;
  justify-content: center;
}
.header-modal-menu-navigation-list {
  list-style: none;
  display: block;
  position: absolute;
  top: 247px;
}
.header-modal-menu-navigation-list-item {
  display: flex;
  align-items: center;
}
.mb16 {
  margin-bottom: 16px;
}
.header-modal-menu-home-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #111;
}
.header-current {
  border-radius: 36px;
  padding: 8px 16px;
  background-color: #eac645;
}
.header-modal-menu-shopping-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-right: 4px;
}
.header-modal-menu-icon {
  stroke: #fff;
  fill: #fff;
}
.header-burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}