.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #FFFFFF;
  width: 80%;
  max-width: 400px;
  height: auto;
  margin: 20% auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 24px;
  height: 24px;
}

.background-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.background-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.x-close img {
  width: 28px;
  height: 28px;
}

.body {
  margin-bottom: 20px;
}

.home-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #EAC645;
  color: #111111;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.shopping-list-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #111111;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.book-covers {
  /* Стили обложек книг */
}

.footer {
  text-align: center;
}

.logout-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #EAC645;
  color: #111111;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}