.burger-menu.burger-menu-show {
  display: flex;
}

.burger-menu {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.burger-menu.burger-menu-show {
  opacity: 1;
}

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
  background-repeat: no-repeat;
  display: none;
  flex-direction: column;
}

.burger-image {
  background-image: url(../img/header-bacground-menu-2.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
  background-size: contain;

  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mob-menu-img {
    background-image: url(../img/header-bacground-menu-2.png);
  }
}

.burger-menu-list {
  margin: 247px auto 0;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.burger-menu-item {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.burger-menu-nav-link-shop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  fill: #fff;
}

.burger-menu-nav-link-active {
  font-weight: 700;
  border-radius: 36px;
  padding: 8px 16px;
  background-color: #eac645;
  color: #111;
}

.overflow-hidden {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .burger-menu.burger-menu-show {
    opacity: 0;
    display: none;
  }
}