.wrp-sheet {
  padding-top: 110px;
  padding-bottom: 110px;
  min-height: 100vh;
}

.wrp-sheet > .support-ukraine {
  display: none;
}

.section-container {
  min-width: 375px;
}

.sup-sect {
  display: none;
}

.title-shopping {
  font-weight: 700;
  font-size: 32px;
  line-height: 108%;
  letter-spacing: -0.04em;
}

.empty-cart {
  margin-bottom: 120px;
}

.not-empty-cart {
  margin-bottom: 40px;
}

.style-title {
  color: #4f2ee8;
}
.wrap-shopping {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.shop-content {
  min-width: 333px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-shopping {
  width: 300px;
  text-align: center;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
}
.img-shopping {
  width: 265px;
  height: 198px;
}

.support {
  width: 356px;
}

@media screen and (min-width: 768px) {
  .shop-content {
    min-width: 700px;
  }

  .title-shopping {
    font-size: 48px;
  }

  .empty-cart {
    margin-bottom: 140px;
  }

  .section-container {
    min-width: 700px;
  }

  .text-shopping {
    width: 349px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
  }

  .img-shopping {
    width: 322px;
    height: 241px;
  }
}

@media screen and (min-width: 1280px) {
  .wrp-content {
    margin-left: 40px;
    flex-grow: 1;
  }

  .shop-content {
    min-width: 900px;
  }

  .wrp-sheet {
    display: flex;
  }

  .wrp-sheet > .support-ukraine {
    display: block;
  }

  .sup-sect {
    display: block;
  }

  .section-container {
    width: 1060px;
    margin-left: 40px;
  }
}

/* Shopping card */

.shop-list-book-card {
  border: 2px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  padding: 12px;
  width: 335px;
  height: 170px;
  display: flex;
  flex-direction: row;
}

.shop-list-book-image {
  border-radius: 8px;
  width: 100px;
  height: 142px;
  display: flex;
  align-self: center;
}

.shop-list-book-info {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop-list-card-header {
  display: flex;
  margin-bottom: 8px;
  width: 193px;
  height: 36px;
  justify-content: space-between;
}

.shop-list-book-title-container {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  width: 144px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.shop-list-book-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  margin-bottom: 4px;
}

.shop-list-book-genre {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: #b4afaf;
}

.delete-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #4f2ee8;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

svg {
  color: #fff;
}

.shop-list-book-description {
  line-height: 1.28571;
  letter-spacing: -0.04em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 193px;
}

.shop-list-product-footer {
  display: flex;
  height: 16px;
  justify-content: space-between;
  margin-top: 16px;
}

.shop-list-book-author {
  font-style: italic;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
  display: flex;
  align-self: flex-end;
}

.shop-list-book-stores {
  display: flex;
  justify-content: flex-end;
  width: 56px;
  height: 16px;
  gap: 8px;
  align-items: center;
}

.shop-list-amazon {
  width: 32px;
  height: 11px;
}

.shop-list-apple {
  width: 16px;
  height: 16px;
}

.shop-list-amazon,
.shop-list-apple {
  filter: grayscale(100%);
}

.shopping-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .shop-list-book-card {
    padding: 22px;
    width: 704px;
    height: 213px;
  }

  .shop-list-book-image {
    width: 116px;
    height: 165px;
  }

  .shop-list-book-info {
    margin-left: 24px;
  }

  .shop-list-card-header {
    margin-bottom: 14px;
    width: 516px;
    height: 36px;
  }

  .shop-list-book-title-container {
    display: block;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;
    text-overflow: initial;
    overflow: initial;
  }

  .delete-icon {
    width: 34px;
    height: 34px;
  }

  .shop-list-book-description {
    width: 508px;
  }

  .shop-list-product-footer {
    height: 27px;
    margin-top: 35px;
  }

  .shop-list-book-stores {
    width: 92px;
    height: 27px;
    gap: 16px;
  }

  .shop-list-amazon {
    width: 48px;
    height: 15px;
  }

  .shop-list-apple {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .shop-list-book-card {
    width: 996px;
    height: 213px;
  }

  .shop-list-book-image {
    width: 116px;
    height: 165px;
  }

  .shop-list-card-header {
    margin-bottom: 16px;
    width: 808px;
  }

  .delete-icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #4f2ee8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .shop-list-book-description {
    width: 808px;
  }

  .shop-list-product-footer {
    height: 27px;
  }

  .shop-list-book-stores {
    width: 92px;
    height: 27px;
    gap: 16px;
  }
}
